Welcome to Telegram app (Admin view)
<%= link_to "Get new conversation  updats", root_path %>


<div class="chat_container">
	<div class="chat_names">
		<%= render "telegram/chat_names" %>
	</div>
	<div id="chat_history">		
	</div>
</div>
